.jumbotron {
	color: white;
	background-color: transparent;
	text-align: center;
}

.jumbotron .badge {
	background-color: white;
}

.jumbotron .badge img {
	width: 20em;
	height: 10em;
}